<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script}, 'about1')}">
  <head>
    <title>About Page</title>
  </head>
  <body>
    <div id="content">
      <p class="text-justify m-4">
        Welcome to Smart Contact Manager, a modern and efficient application designed to securely
        store, organize, and manage your contacts with ease. Whether you're an individual or a
        business, Smart Contact Manager offers a seamless way to keep your contact information
        accessible and organized while prioritizing security and user experience.
      </p>
    </div>
    <script>
      console.log("about page");
    </script>
  </body>
</html>
