<div th:fragment="footer">
  <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Connectly Contact Manager. All rights reserved.</p>
      <p>
        Follow me on
        <a href="https://github.com/nikhilkothare2106" class="text-blue-400">Github</a>,
        <a href="https://www.linkedin.com/in/nikhil-kothare-nk12/" class="text-blue-400">LinkedIn</a
        >, and
        <a href="https://leetcode.com/u/nikhil_kothare_12/" class="text-blue-400">LeetCode</a>.
      </p>
    </div>
  </footer>
</div>
