<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script},'register1')}">
<head>
    <title>Signup</title>
</head>
<body>
<div id="content">
    <div class="grid grid-cols-12 mt-4">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
            <!-- 6 ki spance le rhi hai -->
            <!-- card -->
            <div
                    class="block p-6 border-t-[10px] border-blue-700 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-800"
            >
                <!-- message here -->

                <div data-th-replace="~{message::messagebox}"></div>

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    Signup Here
                </h5>
                <p class="font-normal text-gray-400 dark:text-gray-400">
                    Start managing contacts on cloud ...
                </p>

                <!-- this is  form -->
                <form
                        class="mt-5"
                        data-th-action="@{'/do-register'}"
                        data-th-object="${userForm}"
                        method="post"
                >
                    <!-- name  -->

                    <div class="mb-3">
                        <label
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="email"
                        >Name</label
                        >
                        <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                data-th-field="*{name}"
                                id="name"
                                placeholder="Enter here"
                                required
                                type="text"
                        />

                        <p
                                class="text-red-600 px-1 py-2"
                                data-th-errors="*{name}"
                                data-th-if="${#fields.hasErrors('name')}"
                        >
                            Name is required
                        </p>
                    </div>
                    <!-- email field -->
                    <div class="mb-3">
                        <label
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="email"
                        >Email</label
                        >
                        <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                data-th-field="*{email}"
                                id="email"
                                placeholder="name@flowbite.com"
                                required
                                type="email"
                        />
                        <p
                                class="text-red-600 px-1 py-2"
                                data-th-errors="*{email}"
                                data-th-if="${#fields.hasErrors('email')}"
                        ></p>
                    </div>
                    <!-- password field -->
                    <div class="mb-3">
                        <label
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="password"
                        >New Password</label
                        >
                        <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                data-th-field="*{password}"
                                id="password"
                                required
                                type="password"
                        />
                        <p
                                class="text-red-600 px-1 py-2"
                                data-th-errors="*{password}"
                                data-th-if="${#fields.hasErrors('password')}"
                        ></p>
                    </div>
                    <!-- Phone field -->
                    <div class="mb-3">
                        <label
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="phone"
                        >Contact Number</label
                        >
                        <input
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                data-th-field="*{phoneNumber}"
                                id="phone"
                                required
                                type="text"
                        />

                        <p
                                class="text-red-600 px-1 py-2"
                                data-th-errors="*{phoneNumber}"
                                data-th-if="${#fields.hasErrors('phoneNumber')}"
                        ></p>
                    </div>

                    <!-- about textarea -->
                    <div class="mb-3">
                        <label
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="about"
                        >Write something about yourself</label
                        >
                        <textarea
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                data-th-field="*{about}"
                                id="about"
                                placeholder="Write here..."
                                rows="6"
                        ></textarea>

                        <p
                                class="text-red-600 px-1 py-2"
                                data-th-errors="*{about}"
                                data-th-if="${#fields.hasErrors('about')}"
                        ></p>
                    </div>
                    <!-- button -->

                    <div class="mb-3 flex justify-center space-x-3">
                        <button
                                class="px-3 py-2 rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800"
                                type="submit"
                        >
                            Sign Up
                        </button>
                        <button
                                class="px-3 py-2 rounded bg-orange-800 hover:bg-orange text-white dark:bg-orange-800 dark:hover:bg-orange-800"
                                type="reset"
                        >
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("Signup page");
</script>
</body>
</html>
